<% if @post.errors.present?%>
  <div class="alert alert-danger">
    <p>Znaleźliśmy następujące błędy:</p>
    <ul>
      <% @post.errors.full_messages.each  do |message| %>
        <li><%= message.titleize %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @post do |p| %>
  <div class="form-group">
    <%= p.label :title, "Tytuł" %>
    <%= p.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.label :author, "Autor" %>
    <%= p.text_field :author, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.label :body, "Treść" %>
    <%= p.text_area :body, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.label :published, "Opublikowany?" %>
    <%= p.check_box :published, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= p.submit button_name, class: "btn btn-primary" %>
  </div>
<% end %>
